header {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    color: white;
}

h1 {
    font-weight: bolder;
}

form {
    display: grid;
}

input {
    margin-top: 10px;
    margin-bottom: 20px;
}